.card_price {
  background: rgba(243, 250, 240, 1);
  background-image: url(../../../../img/bro.svg);
  background-repeat: no-repeat;
  background-size: 283px 303px;
  background-position: 96% 128%;
}
@media screen and (min-width: 320px) and (max-width: 420px) {
  .card_price {
    background-size: 208px 223px;
    background-position: 132% 128%;
  }
}