.card_payment {
  background: rgba(247, 240, 250, 1);
  background-image: url(../../../../img/girl-boy.svg);
  background-repeat: no-repeat;
  background-size: 371px 294px;
  background-position: -680% 126%;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .card_payment {
    background-size: 208px 233px;
    background-position: 123% 126%;
  }
}